# Dependencies
node_modules

# Build output
dist
dist-ssr
build

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
logs

# TypeScript
*.tsbuildinfo

# Testing
coverage

# Editor/OS
.vscode
.idea
.DS_Store

# Uploaded files
server/uploads/*
!server/uploads/.gitkeep

.github/
# Added by code-review-graph
.code-review-graph/
